#! /bin/bash

cd $HOME/geonode

docker-compose \
-f docker-compose.yml \
-f docker-compose.async.yaml \
-f ~/{{ project_dir }}/docker-compose.override.hostname.yml \
-f ~/{{ project_dir }}/docker-compose.override.volumes.yml \
-f ~/{{ project_dir }}/docker-compose.override.django-env.yml \
up --build > ~/{{ project_dir }}/launch.out 2> ~/{{ project_dir }}/launch.err
