<link href="{% static "css/site_base.css" %}" rel="stylesheet"/>
<link href="//resilience.asu.edu/sites/all/themes/innovationcustom/css/main.css?pjsm1k" rel="stylesheet"/>
<link href="//www.asu.edu/asuthemes/4.6/css/asu_header_media.min.css?v0.3" rel="stylesheet"/>
<link href="//www.asu.edu/asuthemes/4.6/css/asu_header.min.css?v0.3" rel="stylesheet"/>
<!-- <style type="text/css" media="all">
    @import url("https://resilience.asu.edu/profiles/openasu/themes/innovation/css/innovation-main.css?pjsm1k");
</style> -->
<script type="text/javascript">
  <!--//--><![CDATA[//><!--

  var overrides = ["www.asu.edu"];
  var hostname = window.location.hostname;
  var ASUHeader = ASUHeader || {};


  if (overrides.indexOf(hostname) == -1) {
    ASUHeader.user_signedin = false;
    ASUHeader.signout_url = "/caslogout";
  }

  //--><!]]>
</script>
<!-- START /asuthemes/4.8/heads/default.shtml -->
<link type="text/css" rel="stylesheet" media="all" href="//resilience.asu.edu/www-qa.asu.edu/asuthemes/4.8/css/asu_header.min.css">
<link type="text/css" rel="stylesheet" media="all" href="//resilience.asu.edu/www-qa.asu.edu/asuthemes/4.8/css/asu_header_media.min.css">
<!--[if IE 9]>
  <style type="text/css">
    #asu_universal_nav ul ul {
      filter: none;
      box-shadow: 0 6px 6px 0 #999;
    }
    #asu_universal_nav > ul > li.parent:hover > a {
      filter: none;
      box-shadow: 6px 0 6px -6px #999, -6px 0 6px -6px #999;
    }
  </style>
<![endif]-->
<script>
  var ASUHeader = ASUHeader || {};
  ASUHeader.browser = false;
  ASUHeader.compliance = "options";
</script>
<!--[if IE 5
  ]><script>
    ASUHeader.browser = true;
  </script><!
[endif]-->
<!--[if IE 6
  ]><script>
    ASUHeader.browser = true;
  </script><!
[endif]-->
<!--[if IE 7
  ]><script>
    ASUHeader.browser = true;
  </script><!
[endif]-->
<!--[if IE 8
  ]><script>
    ASUHeader.browser = true;
  </script><!
[endif]-->
<script type="text/javascript" src="//www-qa.asu.edu/asuthemes/4.8/js/asu_header.min.js"></script>
<link rel="stylesheet" type="text/css" href="//www-qa.asu.edu/asuthemes/4.8/vendor/cookieconsent/cookieconsent.min.css">
<script src="//www-qa.asu.edu/asuthemes/4.8/vendor/cookieconsent/cookieconsent.min.js"></script>
<!-- END /asuthemes/4.8/heads/default.shtml -->
